   
{% extends "head.html" %}
{% block content %}

    {% include "menu/global.html" %}
    <div class="page-header">
      <h1>Пожалуйста авторизуйтесь</h1>
    </div>
  </div> {# id="header" #}
  <div class="container well-lg mycontent login_form">
    <form role="form" action="" method="post">
      <label for="login">Логин:</label><input class="form-control well-sm" type="text" name="username">
      <div class="form-group">
        <label for="pwd">Пароль:</label>
        <input class="form-control well-sm" type="password" name="password" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Запомнить меня</label>
      </div>
      <input class="btn btn-primary btn-block" type="submit" value='Войти'>
    </form>
  </div>
{% endblock %}
