
    {% extends "head.html" %}
    {% block content %}

    <div class="page-header">
      <h1>Личная карточка {{ user }}</h1>
    </div>
      {% include "menu/local.html" %}
      {% include "menu/main.html" %}
    </div> {# id="header" #}
    <div id="content" class="well-sm container panel-group login_form">
      <table class="table">
        <tr>
          <td>Пользователь</td><td>{{ user }}</td>
        </tr>
        <tr>
          <td>Идентификатор</td><td>{{ user_id }}</td>
        </tr>
        <tr>
          <td>Почта</td><td>{{ mail }}</td>
        </tr>
        <tr>
          <td colspan="2"><a href="/profile/edit">Сменить пароль</a></td>
        </tr>
      </table>
    </div>
</div> {# id="wrapper" #}
{% endblock %}
