 
    {% extends "head.html" %}
    {% block content %}

    <div class="page-header">
      <h1>Пройдите не сложную регистрацию</h1>
    </div>
    {% include "localmenu.html" %}
    {% include "menu.html" %}
  </div> {# id="header" #}
  <div id="content" class="container well-lg register_form">
    <form role="form" action="" method="post">
      <label for="login">Логин:</label><input class="form-control well-sm" type="text" name="username">
      <div class="form-group">
        <label for="email">Почта:</label>
        <input type="email" name="email" class="form-control well-sm" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Пароль:</label>
        <input class="form-control well-sm" type="password" name="password" id="pwd">
      </div>
        <input class="btn btn-primary btn-block" type="submit" value="Зарегистриовать">
    </form>
  </div>
{% endblock %}
