
{% extends "head.html" %}
{% block content %}
  {% include "menu.html" %}
  <h1>Изменение задачи {{ task_edited }}</h1>
  {% include "localmenu.html" %}
  {% include "taskmenu.html" %} 
  <div class="taskview">
    {% if task_expl %}
	    <table border=1 width="100%">
	      <tr>
	      	<td>Время</td>
	        <td>Имя</td>
	        <td>Статус</td>
	        <td>Текст</td>
	      </tr>
	      <tr>
	        <td>{{ task_expl[2] }}</td>
	        <td>{{ task_expl[0] }}</td>
	        <td>{{ task_expl[3] }}</td>
	        <td>{{ task_expl[1] }}</td>
	      </tr>
	    </table>
    {% else %}
    	пусто
    {% endif %}
  </div>
  {%  include "footer.html" %}
{% endblock %}
