
{% extends "head.html" %}
{% block content %}
  {% include "menu.html" %}
  <h1>Задачи для {{ user }}</h1>
  {% include "localmenu.html" %}
  {% include "taskmenu.html" %}
  <div class="container">
    <table class="table">
      <tr>
        <td>№</td>
        <td>Имя</td>
        <td>Время</td>
      </tr>
      {% for task in task_list %}
      <tr>
        <td>{{ task[0] }}</td>
        <td><a href="/task/view?id={{ task[0] }}">{{ task[1] }}</td>
        <td>{{ task[2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {%  include "footer.html" %}
{% endblock %}
