
{% extends "head.html" %}
{% block content %}
  {% include "menu.html" %}
  <div class="page-header">
    <h1>Задача {{ task_expl[0] }}</h1>
  </div>
  {% include "localmenu.html" %}
  {% include "taskmenu.html" %} 
  <div class="taskview well-lg">
    <table class="table">
      <tr><td>Время</td><td>{{ task_expl[2] }}</td></tr>
      <tr><td>Имя</td><td>{{ task_expl[0] }}</td></tr>
      <tr><td>Текст</td><td>{{ task_expl[1] }}</td></tr>
    </table>
  </div>
  {%  include "footer.html" %}
{% endblock %}
