
{% extends "head.html" %}
{% block content %}
  {% include "menu.html" %}
  <div class="page-header">
    <h1>Задачи для {{ user }}</h1>
  </div>
  {% include "localmenu.html" %}
  {% include "taskmenu.html" %}
  <div class="container panel-group">
    <table class="table table-striped table-hover table-condense">
      <tr>
        <td><div class="panel-heading"><strong>№</strong></div></td>
        <td><div class="panel-heading"><strong>Имя</strong></div></td>
        <td><div class="panel-heading"><strong>Время</strong></div></td>
      </div>
      {% for task in task_list %}
      <tr>
        <td><div class="tasklist panel-body">{{ task[0] }}</div></td>
        <td><div class="tasklist panel-body"><a href="/task/view?id={{ task[0] }}">{{ task[1] }}</a></td>
        <td><div class="tasklist panel-body jumbotron">{{ task[2] }}</div></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {%  include "footer.html" %}
{% endblock %}
