
    {% extends "head.html" %}
    {% block content %}
  
    <div class="page-header">
      {% if task_status == True %}
        <h1>Задачи для {{ user }}</h1>
      {% else %}
        <h1>Выполненные задачи для {{ user }}</h1>
      {% endif %}
    </div>
    {% include "localmenu.html" %}
    {% include "menu.html" %}
    {% include "taskmenu.html" %}
  </div> {# id="header" #}
  <div id='content' class="container panel-group">
    <table class="tasklist table table-striped table-hover table-condense">
      <tr>
        <td><div class="panel-heading"><strong>№</strong></div></td>
        <td><div class="panel-heading"><strong>Имя</strong></div></td>
        <td><div class="panel-heading"><strong>Время</strong></div></td>
      </div>
      {% for task in task_list %}
      {# 0-id, 1-name, 2-date, 3-parent_id, 4 #}
      <tr>
        <td><div class="tasklistelement panel-body">{{ task[0] }} {{ task[3] }}</div></td>
        <td><div class="tasklistelement panel-body">
          {% for i in range(task[4]) %}
            {% if loop.first %}
              &#8627;&nbsp;
            {% else %}
              &#8640;&nbsp;
            {% endif %}
          {% endfor %}
          <a href="/task/view?id={{ task[0] }}">{{ task[1] }}</a></div></td>
        <td style="width: 10%; white-space: nowrap"><div class="tasklistelement panel-body jumbotron">{{ task[2] }}</div></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {%  include "footer.html" %}
</div> {# id="wrapper" #}
{% endblock %}
