
    {% extends "head.html" %}
    {% block content %}

    <div class="page-header">
      <h1 id="local-title">Список пользователей</h1>
    </div>
    {% include "localmenu.html" %}
    {% include "menu.html" %}
  </div> {# id="header" #}
  <div class="user_list">
    <table class="table-bordered">
      <tr>
        <td>Номер</td>
        <td>Имя</td>
        <td>Почта</td>
      </tr>
      {% for user in user_list %}
      <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div> {# id="content" #}
  {% include "footer.html" %}
</div> {# id="wrapper" #}
{% endblock %}
