.mainmenu {
    width: 110px; 
    background: #ddd;
    padding: 5px;
    padding-right: 20px; 
    border: solid 2px black; 
    float: right;
    position: relative; 
    top: 35px; 
    left: -70px; 
}

.content {
    width: auto; 
    background: #bbb;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    float: center;
    margin: 10px;
}

.index {
    width: 80%; 
    background: #ccc;
    left: 10%;
    height: 10px;
    margin-top: 18%; 
}

.localmenu {
    width: 98%;
    left: 1%;
    padding: 0px;
    margin-top: -10px;
}

.taskmenu {
    width: 98%; 
    height: 10px;
    background: #ccc;
    left: 1%;
    margin-top: -10px;
}

.tasklist {
    margin-top: -20px;
    margin-bottom: -20px;
}

.taskview {
    margin-left: 80%;
    margin-right: 80%;
}

.task_name {
    width: 400px;
    font-family: monospace;
    border: 1px solid;
    resize: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.footer {
    width: auto; 
    background: #fc0; 
    padding: 5px; 
    border: solid 1px black; 
    float: right; 
    position: relative; 
    /*top: 40px; */
    left: -70px; 
    margin-top: 35%;
}

.local-title {
    background: #eee;
    margin: 100px;
    float: right;
}

.local-menu {
    width: 80%; 
    background: #ccd;
    margin-top: -5%;
    float: center;
   /* padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    margin: 10px; */
}
.register_form, .login_form {
    width: 20%;
    background: #ccc;
}
.user_list {
    width: 180px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    /*float: center; */
    margin: auto;
}

h1 {
    text-align: center;
}
