
    {% extends "head.html" %}
    {% block content %}

    <div class="page-header">
      <h1>Задача: {{ task_expl[0] }}</h1>
    </div>
    {% include "menu/local.html" %}
    {% include "menu/main.html" %}
    {% include "menu/task.html" %}
  <div id='content' class="container">
    <table class="tasklist table">
      <tr><td>Время</td><td>{{ task_expl[2] }}</td></tr>
      <tr><td>Имя</td><td><div class="well well-sm">{{ task_expl[0] }}</div></td></tr>
      <tr><td class="td-title">Текст</td><td class="td-content"><pre class="well-lg">{{ task_expl[1] }}</pre></td></tr>
    </table>
    {% if comments %}
      <div align="center" class="comments-section">
      <hr class="style-one"> {# comments section #}
      {% for comment in comments %}
        <table class="tasklist table" data-data='{ "commentid": {{ comment[0] }}, "taskid": {{ task_opened }} }'>
          <tr>
            <td>Время</td>
            <td>{{ comment[2] }}</td>
            <td align="right">
              <a class="js-edit-comment-button btn btn-default btn-xs" href="#">Edit</a>
              <a href="/comment_to_task?id={{ comment[0] }}&tid={{ task_opened }}&do=delete" class="js-delete-comment-button btn btn-danger btn-xs">Delete</a>
            </td>
          </tr>
          <tr><td>Имя</td><td colspan=2>{{ comment[4] }}</td></tr>
          <tr>
            <td class="td-title">Текст</td>
            <td class="td-content" colspan=2><pre class="well-lg">{{ comment[3] }}</pre></td>
          </tr>
        </table>
      {% endfor %}
      <hr class="style-two"> {# form section #}
      </div>
    {% endif %}

    <form action="/comment_to_task" method="post"><div class="form-group">
      <input type="hidden" name="taskid" value="{{ task_opened }}">
      <table class="tasklist table">
        <tr class="well">
          <td colspan=2>
            <p align="center"><b>Комментировать</b> или создать <a href="/task/create?taskparent={{ task_opened }}">Подзадачу</a></p>
          </td>
        </tr>
        <tr>
          <td class="td-title">Текст</td>
          <td>
            <div>
              <textarea class="form-control well-lg" type='text' name="commenttext" placeholder="Комментарий"></textarea>
              <span class="help-block invisible">Пожалуйста введите комментарий, не менее 6 символов</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <input class="btn btn-primary btn-block" type='submit' value='Добавить Комментарий'>
          </td>
        </tr>
      </table>
    </div></form>
  </div>
{% endblock %}
