<nav class="navbar navbar-inverse localmenu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Задачник</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        {% if user %}
          <li {%- if request.path == "/profile" %} class="active" {% endif %}>
      	    <a href="/project">Проекты</a>
      	  </li>
          <li {%- if request.path == "/task" %} class="active" {% endif %}>
      	    <a href="/task">Задачи</a>
      	  </li>
          <li><a href="/logout">Выйти</a></li>
        {% else %}
          <li><a href="/login">Войти</a></li>
          <li><a href="/register">Зарегистрироваться</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
