{% block navbar %}
  <nav class="navmenu navmenu-default" role="navigation">
    <div class="mainmenubar navbar navbar-fixed-top well-lg">
      <!-- Меню -->
      <div style="text-align: center" class="navmenu-brand">
        <strong>{{ user }}</strong><br><br>
      </div>
      <ul class="nav navmenu-nav" id=mainmenu>
        <li class="mainmenuline"><a href="/">Главная</a></li>
        <li class="mainmenuline"><a href="/profile">Профиль</a></li>
        <li class="mainmenuline"><a href="/users">Пользователи</a></li>
        <li class="mainmenuline"><a href="/groups">Группы</a></li>
        <li class="mainmenuline"><a href="/about">О нас</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}
