<nav class="taskmenu nav navbar">
  <div class="navbar-header">
    <label class="navbar-brand task-title">
      {% if project_name %}
        {{ project_name }}
      {% else %}
        Задачи
      {% endif %}
    </label>
  </div>
  <ul class="nav navbar-nav taskmenu-elem">
    <li><a href='/task/create?taskparent=0'>Создать другую задачу</a></li>
      {% if task_opened %}
      {# если внутри задачи #}
        <li><a href='/task/edit?id={{ task_opened }}'>Изменить задачу</a></li>
        <li><a href='/task/delete?id={{ task_opened }}'>Удалить задачу</a></li>
      {% else %}
        {# показываем чекбокс только для списка задач #}
        {% if not task_edited %}
          {% if task_status == True %}
            <li><a href='/task/list_closed'><span class="checkbox-inline"><input type="checkbox">показать завершённые</span></a></li>
          {% else %}
            <li><a href='/task'><span class="checkbox-inline"><input type="checkbox" checked>показать завершённые</span></a></li>
          {% endif  %}
        {% endif %}
      {% endif %}
  </ul>
</nav>
